body 
{
    background-color:#56CFE1;
}

.imagenInicio
{
    width: auto;
    height: 150px;
}

.menu
{
    width: auto;
    background-color: green;
}

.menu-item
{
    margin-left: auto ;
    margin-right: auto;
    text-decoration: none;
    color:black;
}
#menu-bg
{
    background-color:#15748f;
}

.fondoMenu
{
    width: 100%;
    height: 20vh;
}

.contenido-cuerpo {
    display: flex;
    justify-content: center;
    min-height: 150px;
    background-color: #48BFE3;
    border-radius: 12px;
    color: snow;
}

.contenido-cuerpo-hijo {
    text-align: center;
}