body 
{
    background-color:#1c485e;
}

.imagenInicio
{
    width: auto;
    height: 150px;
    background-color: white;
}

.menu
{
    width: auto;
    background-color: green;
}

.menu-item
{
    margin-left: auto ;
    margin-right: auto;
    text-decoration: none;
    color:black;
}
#menu-bg
{
    background-color:#15748f;
}